/* 共通 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 2;
}

a {
  text-decoration: none;
  cursor: pointer;
  word-break: break-all;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
}

li {
  list-style: none;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
p {
  font-size: 16px;
  margin-top: 40px;
}

/* ここから書いていく */

/* 共通② */
.heading-primary {
  color: #005bac;
}

.section {
  padding: 150px 0;
}

.header {
  width: 100%;
  height: 88px;
  background-color: #005bac;
  padding: 0 40px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 64px;
  height: 64px;
}

.header-nav {
  display: flex;
  gap: 20px;
  li {
    font-size: 14px;
    color: white;
  }
  li:hover {
    opacity: 0.7;
    transition: all 0.5s;
  }
}

.main {
  height: 100vh;
  background-image: url("../images/bg_first-view.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 400px;
    height: 400px;
  }
}

.about {
  text-align: center;
  h2 {
    font-size: 30px;
    color: #333;
  }
  p {
    color: #888;
  }
  .about-image {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    img {
      width: 400px;
    }
  }
}

.course {
  background-color: #005bac;
  text-align: center;
  color: white;
  h2 {
    color: white;
  }
  p {
  }
}

.goal {
  text-align: center;
  .heading-secondary {
    font-size: 26px;
    color: #333333;
    margin-top: 20px;
  }
  .goal-contents {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 0 auto;

    p {
      text-align: left;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.topics {
  text-align: center;
  background-color: #e6f3f4;

  .topics-contents {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 60px auto 0;
    h2 {
      text-align: center;
    }
    .topics-content {
      background-color: white;
      width: 300px;
      height: 400px;
      img {
        width: 100%;
      }

      .topics-texts {
        padding: 10px 20px 20px;
        text-align: left;
        .topics-date {
          color: #005bac;
          font-weight: bold;
          margin-top: 0;
          font-size: 14px;
        }
        .topics-text {
          font-size: 14px;
          margin-top: 0;
          overflow: hidden;
          text-overflow: ellipsis;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
        }
      }
    }
  }
}

.footer {
  background-image: url(../images/bg_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 565px;

  .footer-information {
    width: 1000px;
    padding: 100px 0;
    margin: 0 auto;

    .footer-heading {
      font-size: 28px;
      font-weight: bold;
      color: #333;
    }
    .footer-link {
      font-size: 16px;
      color: #333;
      margin-top: 20px;
    }
    .footer-adress {
      font-size: 16px;
      color: #000;
      margin-top: 0;
    }
  }
}
.footer-coryright {
  text-align: center;
  background-color: #005bac;
  padding: 12px 0;
  color: #fff;
  p {
    margin-top: 0;
  }
}
